<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">PeliculasAPP</h1>
    <p class="lead">Esta es una aplicación de películas</p>
  </div>
</div>

<div class="container">
  <br>
  <app-galeria [peliculas]="cartelera | slice:0:6" titulo="Peliculas en cartelera"></app-galeria>
  <app-galeria [peliculas]="populares | slice:0:6" titulo="Más populares"></app-galeria>
  <app-galeria [peliculas]="infantiles | slice:0:6" titulo="Peliculas infantiles"></app-galeria>
</div>